@use "./style/button.scss";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html, body, #root {

    width: 100%;
    background-color: rgb(32, 31, 31);
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
}
